.login-page {
  .main-layout {
    display: flex;
    justify-content: center;
  }
  .common-form {
    margin-top: 30px;
    text-align: center;
    width: 70%;
    input {
      width: 100%;
    }
  }
}
